<activity
    android:name=".SplashActivity"
    android:exported="true"
    android:theme="@style/Theme.AppCompat.NoActionBar">

    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>

</activity>
